body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formStyle{
  display: flex;
  flex-direction: column;
  margin-left: 20px;

}
.formStyle label{
  margin-top: 15px;
}
.formStyle label input,select{
  margin-left: 10px;
}

.submitBTN{
  width: 100px;
  margin-top: 15px;
}